<ngx-spinner type="line-scale-party">
  Loading...
</ngx-spinner>

@if (authService.getIsAuth()) {
  <app-nav></app-nav>
}

@if (authService.getIsAuth()) {
<div class="container-fluid">
  <div class="row">

      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 10px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}

