.navbar-text, .navbar-svg {
  color: rgb(226, 226, 226) !important;
  fill: rgb(226, 226, 226) !important;
  text-decoration: none;
}
a:hover {
  text-decoration: teal !important;
}
a:visited {
  text-decoration: teal !important;
}
a:focus {
  text-decoration: teal !important;
}

