@if (leaveEvent) {
  <div class="row">
    <div class="col-xl-12">
        <div class="task-list-box">
            <div id="task-item">
                <div class="card task-box rounded-3">
                    <div class="card-body">
                      <div class="col-xl-6 col-sm-1">
                      <div class="row align-items-center">
                          <div class="col-xl-3 col-md-6 ">
                              <div class="avatar-group mt-3 mt-xl-0">
                                  <div class="avatar-group-item">
                                    <img src="{{'./assets/user.jpg'}}" alt="" class="rounded-circle avatar-sm">
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-8">
                            <div>
                              <p class="home-card-content">{{leaveEvent.submitterFullName}}</p>
                            </div>
                            <div>
                              <p class="home-card-content">{{leaveEvent.leaveType}}</p>
                            </div>
                          </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
} @else {
  <div>
    <h3 class="fw-bolder text-info">No one is on leave today!</h3>
  </div>
}
